extends layout
block head
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

block content
    div(style="margin:24px 64px")
        .btn-group
                input.btn.btn-success(type="button" value="Скачать список" onclick="window.open('/spief2023/trExcel')")
                input.btn.btn-success(type="button" value="Скачать excel для SberTV" onclick="window.open('/spief2023/trSbertvExcel')")
        form.mt-2(method="POST" action="/spief2023/admin/AddSession")
            input.btn.btn-success(type="submit" value="Добавить сессию")

    .mt-2.adminTransWr

        each tr in translations
            .transItem.recWr(id="tr" + tr.id trid=tr.id)
                .transItemLang
                    .transId.mb-2 ID: #{tr.id}ru
                    .transItemTitleWr
                        input.transDate.full(value=tr.date name="date"  placeholder="ДД / HH:MM")
                        input.transTitle.full(value=tr.title name="title" placeholder="название")
                        input.transTitle.full(value=tr.shortName name="shortName" placeholder="короткое название")
                        textarea.transUrl(value=tr.descr name="descr"  placeholder="описание")
                    .adminCol.mt-2
                        .adminRow
                            .transItemStatusW.mt-2
                                select.transItemStatus(name="status" value=tr.status)
                                    option(value="0"  selected=tr.status == 0) Выключена
                                    option(value="1"  selected=tr.status == 1) Постер
                                    option(value="2" selected=tr.status == 2) Эфир
                                    option(value="3" selected=tr.status == 3) Запись
                            //.transItemStatusW.mt-2
                              input.transDate(value=tr.key name="key"  placeholder="CDN KEY")
                        .adminIframe
                            .videoWr
                                iframe(src="/spief2023/player/" + tr.id width="1289" height="720" allowfullscreen)
                    .transItemStatusW.mt-2
                        div
                            label Poster
                            input.transUrl(value=tr.poster name="poster"  placeholder="Постер")
                    .transItemStatusW.mt-2
                        div
                            label ВК Ссылка на видео (поделиться->экспортировать->Прямая ссылка)
                            input.transUrl(value=tr.vklink_ru name="vklink_ru"  placeholder="Вставьте ссылку")
                    .transItemStatusW.mt-2
                        div
                            label ВК Настройки трансляции -> KEY
                            input.transUrl(value=tr.restream_ru name="restream_ru"  placeholder="Вставьте ключ трансляции")
                    .transItemStatusW.mt-2
                        div
                            label ВК IFRAME (поделиться->экспортировать->код для вставки)
                            textarea.transUrl(value=tr.iframe name="iframe"  placeholder="Вставьте код Iframe")
                    .transItemStatusW.mt-2
                        div
                            label Ссылка на СберТВ
                            input.transUrl(value=tr.sbertv_ru name="sbertv_ru"  placeholder="Вставьте ссылку")
                    .transItemStatusW.mt-2
                        div
                            h6 запись ru
                            .mt-2.recBox(lang="ru")
                                .fullScreenFileItem.trRecord
                                    if tr.rec_ru
                                        .fullScreenBtn.showRecordFile(file=tr.rec_ru) Посмотреть
                                        .trRecordFile !{tr.rec_ru}
                                        .fullScreenBtn.downloadRecordFile(file=tr.rec_ru) Скачать
                            .btn.btn-sm.btn-success.mt-2(onclick="showFiles("+tr.id+",'ru')") Добавить запись

                .transItemLang
                    .transId.mb-2 ID: #{tr.id}en
                    .transItemTitleWr
                        input.transDate.full(value=tr.date_en name="date_en"  placeholder="Date")
                        input.transTitle.full(value=tr.title_en name="title_en" placeholder="Title")
                        input.transTitle.full(value=tr.shortName_en name="shortName_en" placeholder="Short Title")
                        textarea.transUrl(value=tr.descr_en name="descr_en"  placeholder="Description")
                    .adminCol.mt-2
                        .adminRow
                            //.transItemStatusW.mt-2
                              select.transItemStatus(name="status" value=tr.status)
                                option(value="0"  selected=tr.status == 0) Выключена
                                option(value="1"  selected=tr.status == 1) Постер
                                option(value="2" selected=tr.status == 2) Эфир
                                option(value="3" selected=tr.status == 3) Запись
                            //.transItemStatusW.mt-2
                              input.transDate(value=tr.key name="key"  placeholder="CDN KEY")
                        .adminIframe
                            .videoWr
                                iframe(src="/spief2023/player_en/" + tr.id width="1289" height="720" allowfullscreen)
                    .transItemStatusW.mt-2
                        div
                            label Poster
                            input.transUrl(value=tr.poster_en name="poster_en"  placeholder="Poster")
                    .transItemStatusW.mt-2
                        div
                            label ВК Link to Video (поделиться->экспортировать->Прямая ссылка)
                            input.transUrl(value=tr.vklink_en name="vklink_en"  placeholder="Paste Link" )
                    .transItemStatusW.mt-2
                        div
                            label ВК Настройки трансляции -> KEY
                            input.transUrl(value=tr.restream_en name="restream_en"  placeholder="Paste  key")
                    .transItemStatusW.mt-2
                        div
                            label VK IFRAME (поделиться->экспортировать->код для вставки)
                            textarea.transUrl(value=tr.iframe_en name="iframe_en"  placeholder="Paste  Iframe code")
                    .transItemStatusW.mt-2
                        div
                            label Link to  SberTv
                            input.transUrl(value=tr.sbertv_en name="sbertv_en"  placeholder="Paste link")
                    .transItemStatusW.mt-2
                        div
                            h6 En record
                            .mt-2.recBox(lang="en")
                                .fullScreenFileItem.trRecord
                                    if tr.rec_en
                                        .fullScreenBtn.showRecordFile(file=tr.rec_en) Посмотреть
                                        .trRecordFile !{tr.rec_en}
                                        .fullScreenBtn.downloadRecordFile(file=tr.rec_en) Скачать

                            .btn.btn-sm.btn-success.mt-2(onclick="showFiles("+tr.id+",'en')") ADD Record



    script.
        const updateStatus = async () => {
            let res = await fetch("/spief2023/trStatusAll")
            if (res.ok) {
                let data = await res.json();
                data.forEach(tr => {
                    let wr = document.querySelector("#tr" + tr.id)
                    if (wr) {
                        let names = (Object.keys(tr))
                        names.forEach(name => {
                            let elem = wr.querySelector("[name='" + name + "']")
                            if (elem && document.activeElement != elem) {
                                elem.value = tr[name]

                            }
                        })

                    }
                })
            }
            setTimeout(updateStatus, 10 * 1000)
        }
        document.querySelectorAll(".adminTransWr input[name], .adminTransWr select[name], .adminTransWr textarea[name]").forEach(e => {
            e.onchange = async () => {
                let id = e.closest(".transItem").getAttribute("trid");
                let name = e.getAttribute("name")
                let data = {id}
                data[name] = e.value;
                let res = await fetch("/spief2023/changeTr", {
                    body: JSON.stringify(data),
                    method: "POST",
                    headers: {"Content-Type": "application/json"}
                })
                if (res.ok)
                    console.log(await res.text())
            }

        })
        updateStatus();
        function formatSS(totalSeconds){
            let hours = Math.floor(totalSeconds / 3600);
            totalSeconds %= 3600;
            let minutes = Math.floor(totalSeconds / 60);
            let seconds = totalSeconds % 60;
            return (hours+":"+minutes+":"+seconds)
        }
        async function showFiles(trid, lang){
            let r= await fetch("/spief2023/showFiles/"+trid+"/"+lang)
            if(!r.ok)
                return
            let fs=document.createElement("div")
            fs.classList.add("fullScreen")
            fs.innerHTML=await r.text()
            document.body.appendChild(fs)
            document.body.style.overflow="hidden"
            document.querySelector(".fullScreenBoxClose").onclick=()=>{
                document.body.removeChild(fs)
                document.body.style.overflow=null
            }
            document.querySelectorAll(".fullScreenPlayBtn").forEach(e=>{
                e.onclick=()=>{
                    let item=e.closest(".fullScreenFileItem")
                    let player=document.querySelector("#fullScreenVideo")
                    player.setAttribute("fileid", item.getAttribute("fileid"))
                    player.setAttribute("file", item.getAttribute("file"))
                    player.setAttribute("src","https://static.sber.link/aij2022streams/spief2023/"+ item.getAttribute("file"))
                    player.play();
                    let elem=document.getElementById("markIn");
                    elem.removeAttribute("value")
                    elem.innerHTML="00:00:00"
                     elem=document.getElementById("markOut")
                         elem.removeAttribute("value")
                    elem.innerHTML="99:99:00"

                    document.querySelector( ".videoCutButtons").style.display="flex";
                    document.getElementById("markInBtn").onclick=()=>{
                        let elem=document.getElementById("markIn");
                        elem.setAttribute("value",player.currentTime)
                        elem.innerHTML=formatSS(player.currentTime);
                    }
                    document.getElementById("markOutBtn").onclick = () => {
                        let elem = document.getElementById("markOut");
                        elem.setAttribute("value", player.currentTime)
                        elem.innerHTML = formatSS(player.currentTime);
                    }
                }
            })
            document.querySelectorAll(".fullScreenSetBtn").forEach(e => {
                e.onclick = async () => {
                    let item=e.closest(".fullScreenFileItem")
                    let rec=item.getAttribute("file")
                    let r= await fetch("/spief2023/setTrRec/"+trid+"/"+lang+"/"+rec)
                    if(!r.ok)
                        return
                    document.body.removeChild(fs)
                    document.body.style.overflow=null
                    document.querySelector("#tr"+trid).querySelector(".recBox[lang='"+lang+"']").innerHTML=await r.text();
                    initRecBtn();
                }
            })
        }
        function initRecBtn()
        {
            document.querySelectorAll(".showRecordFile").forEach(btn=>{
                btn.onclick=async ()=>{
                    let file=btn.getAttribute("file")
                    let url="/spief2023/showPlayer/"+file
                   // console.log(btn,btn.getAttribute("file"), file, url )
                    let r = await fetch(url)
                    if (!r.ok)
                        return
                    let fs = document.createElement("div")
                    fs.classList.add("fullScreen")
                    fs.innerHTML = await r.text()
                    document.body.appendChild(fs)
                    document.body.style.overflow="hidden"
                    document.querySelector(".fullScreenBoxClose").onclick = () => {
                        document.body.removeChild(fs)
                        document.body.style.overflow=null
                    }
                }
            })
            document.querySelectorAll(".downloadRecordFile").forEach(btn => {
                btn.onclick = () => {
                    let a=document.createElement("a")
                    let file=btn.getAttribute("file")
                    a.setAttribute("download", file)
                    a.setAttribute("target", "_blank")
                    a.href="https://static.sber.link/aij2022streams/spief2023/"+file;
                    a.innerHTML=file
                    a.style.display="none"
                    document.body.appendChild(a)
                    a.click();
                    setTimeout(()=>{document.body.removeChild(a)},100)

                }
            })
        }
        initRecBtn();

