extends layout
block head
    link( href="/spief2023/stylesheets/video-js.css" rel="stylesheet" )
block content
    .videoWr#videoWr(status=0)
        .placeholder
            include loader.svg
    script(src="/spief2023/javascripts/video.min.js")
    script.
        const trid=!{JSON.stringify(tr.id)}
        const initPlayer=()=>{
            let player = videojs('player', {
                preload: 'auto'
            });
        }
        const getStatus=async ()=>{
            let res=await fetch("/spief2023/status/"+trid)
            if(res.ok)
            {
                let status=await res.json();
                let videoWr=document.getElementById("videoWr")
                if(videoWr.getAttribute("status") !=status){
                    res=await fetch("/spief2023/playerCtrl/"+!{tr.id})
                    videoWr.innerHTML=await res.text();
                    videoWr.setAttribute("status", status);
                    if(status>1)
                        initPlayer()
                }
            }
            setTimeout(getStatus, 10*1000)
        }
        getStatus();

